    <!-- Section's -->
    <main>
        <section class="home" id="home">
            <span class="homeDescription">
                <div class="welcome">
                    <p class="textW">Hello</p> 
                    <div class="pW"></div>
                </div>

                <div class="whoiam">
                    <div class="md"></div>
                    <p class="text">I'am Devani Lissandro</p>
                    <div class="md"></div>
                </div>
                
                <p class="thatiam">Aplication and website developer</p>
                
                <button class="downloadCV">
                    Download CV
                </button>
                
                <div class="arrow-container">
                    <div class="arrow-down"></div>
                </div>                
            </span>
        </section>

        <section class="sectionWaves" id="sectionWaves">
            <svg id="wave" style="background: #171718;  transform:rotate(0deg); transition: 0.3s" 
            viewBox="0 0 1440 350" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <defs>
                <linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0">
                    <stop stop-color=" rgb(192.987, 239.014, 248.49, 1)" offset="0%"></stop>
                    <stop stop-color=" rgb(255, 255, 255, 0.2)" offset="100%"></stop>
                </linearGradient></defs>
                <path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)" d="M0,245L48,250.8C96,257,192,268,288,233.3C384,198,480,117,576,122.5C672,128,768,222,864,215.8C960,210,1056,105,1152,87.5C1248,70,1344,140,1440,140C1536,140,1632,70,1728,52.5C1824,35,1920,70,2016,122.5C2112,175,2208,245,2304,274.2C2400,303,2496,292,2592,268.3C2688,245,2784,210,2880,175C2976,140,3072,105,3168,99.2C3264,93,3360,117,3456,110.8C3552,105,3648,70,3744,75.8C3840,82,3936,128,4032,128.3C4128,128,4224,82,4320,75.8C4416,70,4512,105,4608,134.2C4704,163,4800,187,4896,169.2C4992,152,5088,93,5184,64.2C5280,35,5376,35,5472,75.8C5568,117,5664,198,5760,221.7C5856,245,5952,210,6048,210C6144,210,6240,245,6336,245C6432,245,6528,210,6624,198.3C6720,187,6816,198,6864,204.2L6912,210L6912,350L6864,350C6816,350,6720,350,6624,350C6528,350,6432,350,6336,350C6240,350,6144,350,6048,350C5952,350,5856,350,5760,350C5664,350,5568,350,5472,350C5376,350,5280,350,5184,350C5088,350,4992,350,4896,350C4800,350,4704,350,4608,350C4512,350,4416,350,4320,350C4224,350,4128,350,4032,350C3936,350,3840,350,3744,350C3648,350,3552,350,3456,350C3360,350,3264,350,3168,350C3072,350,2976,350,2880,350C2784,350,2688,350,2592,350C2496,350,2400,350,2304,350C2208,350,2112,350,2016,350C1920,350,1824,350,1728,350C1632,350,1536,350,1440,350C1344,350,1248,350,1152,350C1056,350,960,350,864,350C768,350,672,350,576,350C480,350,384,350,288,350C192,350,96,350,48,350L0,350Z"></path>
                <defs>
                    <linearGradient id="sw-gradient-1" x1="0" x2="0" y1="1" y2="0">
                        <stop stop-color="rgba(100.707, 162.84, 175.633, 1)" offset="0%"></stop>
                        <stop stop-color=" #000000" offset="100%"></stop>
                    </linearGradient>
                </defs>
                <path style="transform:translate(0, 50px); opacity:0.9" fill="url(#sw-gradient-1)" d="M0,140L48,151.7C96,163,192,187,288,204.2C384,222,480,233,576,221.7C672,210,768,175,864,175C960,175,1056,210,1152,233.3C1248,257,1344,268,1440,256.7C1536,245,1632,210,1728,204.2C1824,198,1920,222,2016,221.7C2112,222,2208,198,2304,186.7C2400,175,2496,175,2592,151.7C2688,128,2784,82,2880,75.8C2976,70,3072,105,3168,128.3C3264,152,3360,163,3456,151.7C3552,140,3648,105,3744,75.8C3840,47,3936,23,4032,11.7C4128,0,4224,0,4320,17.5C4416,35,4512,70,4608,75.8C4704,82,4800,58,4896,52.5C4992,47,5088,58,5184,87.5C5280,117,5376,163,5472,180.8C5568,198,5664,187,5760,198.3C5856,210,5952,245,6048,221.7C6144,198,6240,117,6336,93.3C6432,70,6528,105,6624,122.5C6720,140,6816,140,6864,140L6912,140L6912,350L6864,350C6816,350,6720,350,6624,350C6528,350,6432,350,6336,350C6240,350,6144,350,6048,350C5952,350,5856,350,5760,350C5664,350,5568,350,5472,350C5376,350,5280,350,5184,350C5088,350,4992,350,4896,350C4800,350,4704,350,4608,350C4512,350,4416,350,4320,350C4224,350,4128,350,4032,350C3936,350,3840,350,3744,350C3648,350,3552,350,3456,350C3360,350,3264,350,3168,350C3072,350,2976,350,2880,350C2784,350,2688,350,2592,350C2496,350,2400,350,2304,350C2208,350,2112,350,2016,350C1920,350,1824,350,1728,350C1632,350,1536,350,1440,350C1344,350,1248,350,1152,350C1056,350,960,350,864,350C768,350,672,350,576,350C480,350,384,350,288,350C192,350,96,350,48,350L0,350Z"></path>
                <defs>
                    <linearGradient id="sw-gradient-2" x1="0" x2="0" y1="1" y2="0">
                        <stop stop-color="rgba(208, 246, 255, 0.5)" offset="0%"></stop>
                        <stop stop-color="rgba(208, 246, 255, 0.5)" offset="100%"></stop>
                    </linearGradient>
                </defs>
                <path style="transform:translate(0, 100px); opacity:1" fill="url(#sw-gradient-2)" d="M0,175L48,157.5C96,140,192,105,288,75.8C384,47,480,23,576,40.8C672,58,768,117,864,157.5C960,198,1056,222,1152,233.3C1248,245,1344,245,1440,250.8C1536,257,1632,268,1728,227.5C1824,187,1920,93,2016,81.7C2112,70,2208,140,2304,163.3C2400,187,2496,163,2592,145.8C2688,128,2784,117,2880,110.8C2976,105,3072,105,3168,99.2C3264,93,3360,82,3456,70C3552,58,3648,47,3744,58.3C3840,70,3936,105,4032,116.7C4128,128,4224,117,4320,93.3C4416,70,4512,35,4608,46.7C4704,58,4800,117,4896,128.3C4992,140,5088,105,5184,87.5C5280,70,5376,70,5472,110.8C5568,152,5664,233,5760,245C5856,257,5952,198,6048,186.7C6144,175,6240,210,6336,204.2C6432,198,6528,152,6624,151.7C6720,152,6816,198,6864,221.7L6912,245L6912,350L6864,350C6816,350,6720,350,6624,350C6528,350,6432,350,6336,350C6240,350,6144,350,6048,350C5952,350,5856,350,5760,350C5664,350,5568,350,5472,350C5376,350,5280,350,5184,350C5088,350,4992,350,4896,350C4800,350,4704,350,4608,350C4512,350,4416,350,4320,350C4224,350,4128,350,4032,350C3936,350,3840,350,3744,350C3648,350,3552,350,3456,350C3360,350,3264,350,3168,350C3072,350,2976,350,2880,350C2784,350,2688,350,2592,350C2496,350,2400,350,2304,350C2208,350,2112,350,2016,350C1920,350,1824,350,1728,350C1632,350,1536,350,1440,350C1344,350,1248,350,1152,350C1056,350,960,350,864,350C768,350,672,350,576,350C480,350,384,350,288,350C192,350,96,350,48,350L0,350Z"></path>
                <defs>
                    <linearGradient id="sw-gradient-3" x1="0" x2="0" y1="2" y2="0">
                        <stop stop-color="rgb(67,100,107)" offset="100%"></stop>
                        <stop stop-color="rgb(67,100,107)" offset="100%"></stop>
                    </linearGradient>
                </defs>
                <path style="transform:translate(0, 90px); opacity:1" fill="url(#sw-gradient-3)" d="M0,35L48,70C96,105,192,175,288,215.8C384,257,480,268,576,245C672,222,768,163,864,151.7C960,140,1056,175,1152,163.3C1248,152,1344,93,1440,58.3C1536,23,1632,12,1728,29.2C1824,47,1920,93,2016,99.2C2112,105,2208,70,2304,52.5C2400,35,2496,35,2592,75.8C2688,117,2784,198,2880,245C2976,292,3072,303,3168,303.3C3264,303,3360,292,3456,245C3552,198,3648,117,3744,81.7C3840,47,3936,58,4032,70C4128,82,4224,93,4320,110.8C4416,128,4512,152,4608,186.7C4704,222,4800,268,4896,268.3C4992,268,5088,222,5184,186.7C5280,152,5376,128,5472,134.2C5568,140,5664,175,5760,204.2C5856,233,5952,257,6048,256.7C6144,257,6240,233,6336,192.5C6432,152,6528,93,6624,70C6720,47,6816,58,6864,64.2L6912,70L6912,350L6864,350C6816,350,6720,350,6624,350C6528,350,6432,350,6336,350C6240,350,6144,350,6048,350C5952,350,5856,350,5760,350C5664,350,5568,350,5472,350C5376,350,5280,350,5184,350C5088,350,4992,350,4896,350C4800,350,4704,350,4608,350C4512,350,4416,350,4320,350C4224,350,4128,350,4032,350C3936,350,3840,350,3744,350C3648,350,3552,350,3456,350C3360,350,3264,350,3168,350C3072,350,2976,350,2880,350C2784,350,2688,350,2592,350C2496,350,2400,350,2304,350C2208,350,2112,350,2016,350C1920,350,1824,350,1728,350C1632,350,1536,350,1440,350C1344,350,1248,350,1152,350C1056,350,960,350,864,350C768,350,672,350,576,350C480,350,384,350,288,350C192,350,96,350,48,350L0,350Z"></path>
            </svg>      
        </section>
        
        <section class="featuredProjects" id="featuredProjects">
            <span class="cardsFeaturedProjects"> 
                <p>FEATURED PROJECTS</p>
            </span>
        </section>
    </main>