    
    <!-- Navegation -->
    <nav class="navegation" id="navegation">
        <div class="content">
            <span class="contLogo">
                <div class="Logo">
                    DEVANI'S
                </div>
            </span>
            
            <span class="contLinkNav">
                <span class="linkNav">
                    <a class="link" href="/">Home</a>
                    <a class="link" href="/usuario">About Me</a>
                    <a class="link" href="">Portfolio</a>
                    <a class="link" href="">Curriculum</a>
                    <a class="link" href="/contact">Contact</a>
                </span>
            </span>
            
            <span class="contUsuario">
                <div class="usuario">
                    <form class="search" role="search">
                        <input class="input-search-navbar" type="search" placeholder="Search" aria-label="Search"> 
                        <div class="btn-search-navbar" >
                            <img src="/img/lupa.svg" alt="Descripción del SVG">
                        </div>
                    </form>
                </div>
            </span>
        </div>
    </nav>